<div class="box">	
  <div class="box-header with-border">
	 <h1><center>Nueva resolución</center></h1> 
  </div>

  <%= render 'form', resolution: @resolution %>
</div>
<!-- <%= link_to 'Back', resolutions_path %> -->
